<div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-inner" ng-controller="NavbarCtrl">
    <div class="container-fluid" ng-cloak>
      <div class="navbar-header">
        <button class="navbar-toggle btn btn-navbar" type="button" ng-click="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="glyphicon glyphicon-bar icon-bar"></span>
          <span class="glyphicon glyphicon-bar icon-bar"></span>
          <span class="glyphicon glyphicon-bar icon-bar"></span>
        </button>
        <a class="navbar-brandpluslogo brandpluslogo" href="/">
          <a href="/" class="navbar-brand brand">digger-ui</a>
        </a>
        <global-search class="global-search"></global-search>
      </div>
      <div uib-collapse="isCollapsed" class="navbar-collapse nav-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
          </li>
          <li uib-dropdown class="dropdown">
            <a uib-dropdown-toggle class="dropdown-toggle">Applicants</a>
            <ul class="uib-dropdown-menu">
              <li><a class="dropdown-option" href="data/Applicant/new">New</a></li>
              <li><a class="dropdown-option" href="data/Applicant">Listing</a></li>
              <li><a class="dropdown-option" href="data/analyse/Applicant">Basic Report</a></li>
            </ul>
          </li>
          
          <model-controller-dropdown />
        </ul>
        <ul class="nav navbar-nav navbar-right">
          
        </ul>
      </div>
    </div>
  </div>
</div>
